.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .app-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
    justify-content: center;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .home-container {
    padding: 30px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ipl-logo {
  width: 37px;
  height: 50px;
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .ipl-logo {
    width: 60px;
    height: 80px;
  }
}

.heading {
  color: #ffffff;
  font-size: 35px;
  font-family: 'Roboto';
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 40px;
  }
}

.teams-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 0px;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  padding-left: 0px;
}

@media screen and (max-width: 500px) {
  .teams-list {
    margin-left: 8px;
  }
}
